{% extends "layout.html" %}

{% block body %}

<h3>Spor Okulu</h3>
<hr>

<a class="btn btn-danger" href="/databases/addsporokulu">Spor Okulu ekle</a>
<hr>
{% if sporokulu %}
<table class="table">
        <thead>
          <tr>
            
            <th scope="col">Başlık</th>
            

            <th scope="col">Güncelle</th>
            <th scope="col">Sil</th>
            
            
          </tr>
        </thead>
        <tbody>
            {% for sporokulus in sporokulu %}
                <tr>
                    <th scope="row">{{sporokulus.title}}</th>
                    
                    <td><a href="/databases/updatesporokulu/{{sporokulus.id}}" class="btn btn-primary">Güncelle</a></td>
                    <td><a href="/databases/deletesporokulu/{{sporokulus.id}}" class="btn btn-danger">Sil</a></td>
                    
                </tr>
            {% endfor %}
          
        </tbody>
</table>

{% else %}
<div class="alert alert-danger">
    Henüz bir içerik bulunmuyor.

</div>
{% endif %}

{% endblock body %}