{% extends "layout.html" %}

{% block body %}

<h3>Kulüp Bilgisi</h3>
<hr>

<a class="btn btn-danger" href="/databases/addclub">Kulüp bilgi Ekle</a>
<hr>
{% if clubs %}
<table class="table">
        <thead>
          <tr>
            
            <th scope="col">Başlık</th>
            

            <th scope="col">Güncelle</th>
            <th scope="col">Sil</th>
            
            
          </tr>
        </thead>
        <tbody>
            {% for club in clubs %}
                <tr>
                    <th scope="row">{{club.club_title}}</th>
                    
                    <td><a href="/databases/updateclub/{{club.id}}" class="btn btn-primary">Güncelle</a></td>
                    <td><a href="/databases/deleteclub/{{club.id}}" class="btn btn-danger">Sil</a></td>
                    
                </tr>
            {% endfor %}
          
        </tbody>
</table>

{% else %}
<div class="alert alert-danger">
    Henüz bir içerik bulunmuyor.

</div>
{% endif %}

{% endblock body %}