{% extends "layout.html" %}

{% block body %}

<h3>Başarılarımız</h3>
<hr>

<a class="btn btn-danger" href="/databases/addbasarilarimiz">Başarılarımız Ekle</a>
<hr>
{% if basarilarimiz %}
<table class="table">
        <thead>
          <tr>
            
            <th scope="col">Başlık</th>
            

            <th scope="col">Güncelle</th>
            <th scope="col">Sil</th>
            
            
          </tr>
        </thead>
        <tbody>
            {% for basarilarimizs in basarilarimiz %}
                <tr>
                    <th scope="row">{{basarilarimizs.title}}</th>
                    
                    <td><a href="/databases/updatebasarilarimiz/{{basarilarimizs.id}}" class="btn btn-primary">Güncelle</a></td>
                    <td><a href="/databases/deletebasarilarimiz/{{basarilarimizs.id}}" class="btn btn-danger">Sil</a></td>
                    
                </tr>
            {% endfor %}
          
        </tbody>
</table>

{% else %}
<div class="alert alert-danger">
    Henüz bir içerik bulunmuyor.

</div>
{% endif %}

{% endblock body %}