{% extends "layout.html" %}

{% block body %}

<h3>Hakkımızda</h3>
<hr>

<a class="btn btn-danger" href="/databases/addhakkimizda">Hakkımızda Ekle</a>
<hr>
{% if hakkimizda %}
<table class="table">
        <thead>
          <tr>
            
            <th scope="col">Başlık</th>
            

            <th scope="col">Güncelle</th>
            <th scope="col">Sil</th>
            
            
          </tr>
        </thead>
        <tbody>
            {% for hakkimizdas in hakkimizda %}
                <tr>
                    <th scope="row">{{hakkimizdas.title}}</th>
                    
                    <td><a href="/databases/updatehakkimizda/{{hakkimizdas.id}}" class="btn btn-primary">Güncelle</a></td>
                    <td><a href="/databases/deletehakkimizda/{{hakkimizdas.id}}" class="btn btn-danger">Sil</a></td>
                    
                </tr>
            {% endfor %}
          
        </tbody>
</table>

{% else %}
<div class="alert alert-danger">
    Henüz bir içerik bulunmuyor.

</div>
{% endif %}

{% endblock body %}